<h1>Welcome to Owee</h1>
<h2>Ipsum itaque ea cupiditate quam rerum rem atque exercitationem. Isoluta natus labore ipsum porro praesentium velit non. Nesciunt amet ipsum beatae consequatur?</h2>
<%= link_to 'Contact',  pages_contact_path %>
